@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Courgette|Russo+One|Ultra');

body,html{
    height: 100%;
}

.bg {

    background-image: url(IMG_2677@2x.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

h1.first-header {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 2.5em;
    margin-top: 60px;
    font-weight:bold;
   }

h1.portfolio-header {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: black;
    font-size: 2.5em;
    margin-top: 60px;
    font-weight:bold;
   }

h2{
    font-family:'Courgette';
    margin-left: 1em;
    margin-top: 2em;
    font-size: 25px;
}

.frontnav{
    background-color: #d8be81;
    color: black;
    transition: all 2s;
    margin-left: 5em;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;

}

a:hover {
    color: grey;
}

.first-footer {

    width: 100%;
    color: lightgrey;
    font-family:'Russo One', sans-serif;
    margin-bottom:0;
    margin-left:0;
    margin-right: 0;
    padding: 10px;
    text-align:center;
    margin-top: 22em;
}

#page2{
    background-color: black;
}

#myphoto {
    width: 60%;
    margin-bottom: 0;
    margin-left: 5em;
    margin-top: 2em;
}

#biography {
    font-family:'Courgette', cursive;
    font-size: 20px;
    text-align: center;
    color: snow;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 8%;
}

#menu {
    width: 35px;
    margin-left: 11em;
    margin-top: 1.5em;
    cursor: pointer;
}

.burger {
    background-color: snow;
    height: 5px;
    margin: 6px 0;

}



.burger2 {
    background-color: black;
    height: 5px;
    margin: 6px 0;
}

#options{
    padding: 15px;
    color: black;
    font-family:'Courgette', cursive;
    margin-left: 4.5em;

    text-decoration: none;


}

.bluebox{
    background-color: lightskyblue;
    height: 5em;
    padding: 5px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 4px;
}




/***.red {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    height: 0;
    width: 350px;
    background-color: #EA5045;
    overflow: hidden;
    transition: 1s;
    margin-left: 2em;
    transition: .5s cubic-bezier(.05,.33,.75,1.67);
}

.open {xxxx
    height: 200px;
}

.redlist {xxxx
    color: white;
    font-size: 25px;
    text-align: center;
}***///

