@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Courgette|Russo+One|Ultra');

body,html{
    height: 100%;
}

.bg {

    background-image: url(IMG_2677@2x.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

h1.first-header {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 2.5em;
    margin-top: 5px;
    font-weight:bold;
   }
